<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
</head>
<body>
<div id="top">
    <div class="logo">
        <img src="/images/logo.png" alt="logo"/><span style="display: inline-block;line-height: 1.5em;margin-left: 5px;">星辰抽奖系统</span>
    </div>
    <div class="menu"><span href="#">&Xi;</span>
        <ul class="m-list">
            <li><a href="/index">中奖信息</a></li>
            <li><a href="/user">员工管理</a></li>
            <li><a href="#">奖品设置</a></li>
        </ul>
    </div>
    <div class="uinfo">admin | <a href="#">退出</a></div>
</div>