<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <ul>
        <%name.forEach(function(item){%>
            <li><%=item.name%></li>
        <%})%>
    </ul>
</div>
</body>
</html>